<%- include('includes/header-checkout') %>
<!-- Confimar compra -->
<section>
<div>
    <h2>!Gracias por tu compra!</h2>
    <p>T numero de orden es: <%= ordenId %></p>
    <p>Te hemos enviado un correo con los detalles de tu compra.</p>
    <a href="/">Volver al inicio</a>
</div>
</section>
<%- include('includes/foot-checkout') %>