<!-- footer -->
<section class="contenedor">
    <div class="barra">
        <div class="barra__item">
            <p class="barra__copy">&copy; 2024 Gamer Techt, Todos los derechos reservados.</p>
        </div>
        <div class="barra__item">
            <a href="#" class="barra__cta">
                Ver términos y condiciones
            </a>
        </div>
    </div>
</section>