<!-- footer -->
<script src="js/cart.js"></script>
<footer class="footer">
    <div class="footer__card">
        <figure class="footer__item">
            <img class="footer__img" src="images/logo.png" alt="">
        </figure>
        <p class="footer__item">&copy; 2024 Gamer Techt, Todos los derechos reservados.</p>
    </div>
   </footer>
</body>
</html>